body {
    background-image: url("beautiful-view-stars-night-sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
p {
    color: white;
    font-size: 100px;
}
table,th,tbody,td{ color: white;
    border-collapse: collapse;
    border: 2px solid white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
th,td{ font-size: 20px;
    padding: 10px;
}
h2{
    font-weight: bold;
    font-size: 40px;
    color: rgb(16, 9, 118);
}
.back {
    color: rgb(53, 40, 243);
    display: inline;
    border-radius: 2px;
}

.planets{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.Sun p {
    font-size: 25px;
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}
.Sun { 
    background: linear-gradient(90deg, #230101 0%, #520b0b 25%, #811c1c 50%, #ea7b7b 75%, #FF6D00 100%);
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.Mercury { 
    background: linear-gradient(90deg, #020b24 0%, #0c225b 25%, #263db0 50%, #3a68c4 75%, #4678dd 100%);
    border: 2px solid black;
}

.Mercury p {
    font-size: 25px;
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}

.Mercury img{
    width: 300px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.Sun img{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Pluto img{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Venus img, .Earth img, .Mars img, .Jupiter img, .Saturn img, .Uranus img, .Neptune img {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.Venus p {
    font-size: 25px;
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}

.Venus { 
     background: linear-gradient(90deg, #020b24 0%, #0c225b 25%, #263db0 50%, #3a68c4 75%, #4678dd 100%);
    border: 2px solid black;
}

.Earth p {
    font-size: 25px;
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}

.Earth { 
    background: linear-gradient(90deg, #020b24 0%, #0c225b 25%, #263db0 50%, #3a68c4 75%, #4678dd 100%);
    border: 2px solid black;
}
.Mars, .Jupiter, .Saturn, .Uranus, .Neptune{ 
    background: linear-gradient(90deg, #020b24 0%, #0c225b 25%, #263db0 50%, #3a68c4 75%, #4678dd 100%);
    border: 2px solid black;
}

.Mars p, .Jupiter p, .Saturn p, .Uranus p, .Neptune p, .Pluto p {
    font-size: 25px;
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}

.Pluto {
    background: linear-gradient(90deg, #020b24 0%, #0c225b 25%, #263db0 50%, #3a68c4 75%, #4678dd 100%);
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}
.headline h2{
    color: white;
    text-align: center;
}
/* .Sun {
    white-space: nowrap;
    overflow: hidden;      
    text-overflow: ellipsis; 
}
.Sun p:hover{
    white-space: normal;   
    overflow: visible;    
    text-overflow: clip;
} */
 .fun-fact p{
    white-space: nowrap;
    overflow: hidden;      
    text-overflow: ellipsis; 
 }
 .fun-fact p:hover{
    white-space: normal;   
    overflow: visible;    
    text-overflow: clip;
 }

.fun-fact {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

nav {
  width: 100%;
  background-color: rgb(41, 41, 41);
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  color: white;
  align-items: center;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: green;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-left: 2rem ;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}
.logo a:hover{
    color: #020b24;
}